In [10]:
import numpy as np
import pandas as pd

In [11]:
dt = pd.read_csv("Lab08_data.csv")
dt

        Age  Income Student Credit_Rating Buys_Computer
0      <=30    high      no          fair            no
1      <=30    high      no     excellent            no
2   31---40    high      no          fair           yes
3       >40  medium      no          fair           yes
4       >40     low     yes          fair           yes
5       >40     low     yes     excellent            no
6   31---40     low     yes     excellent           yes
7      <=30  medium      no          fair            no
8      <=30     low     yes          fair           yes
9       >40  medium     yes          fair           yes
10     <=30  medium     yes     excellent           yes
11  31---40  medium      no     excellent           yes
12  31---40    high     yes          fair           yes
13      >40  medium      no     excellent            no

In [12]:
n = len(dt)
count_y = count_n = 0
for i in range(0,n):
    if dt['Buys_Computer'][i] == "yes":
        count_y += 1
    if dt['Buys_Computer'][i] == "no":
        count_n += 1
pr_y = count_y/n
pr_n = count_n/n
print(pr_y)
print(pr_n)

0.6428571428571429
0.35714285714285715

In [13]:
def con_prob(value,feature, target):
    d1 = dt[dt['Buys_Computer'] == target]
    d2 = d1[d1[feature] == value]
    return len(d2)/len(d1)

In [14]:
#Income
pr1 = con_prob("high","Income","yes")
print(pr1)
pr2 = con_prob("medium","Income","yes")
print(pr2)
pr3 = con_prob("low","Income","yes")
print(pr3)
pr4 = con_prob("high","Income","no")
print(pr4)
pr5 = con_prob("medium","Income","no")
print(pr5)
pr6 = con_prob("low","Income","no")
print(pr6)

0.2222222222222222
0.4444444444444444
0.3333333333333333
0.4
0.4
0.2

In [15]:
#Student
pr1 = con_prob("yes","Student","yes")
print(pr1)
pr2 = con_prob("no","Student","yes")
print(pr2)
pr3 = con_prob("yes","Student","no")
print(pr3)
pr4 = con_prob("no","Student","no")
print(pr4)

0.6666666666666666
0.3333333333333333
0.2
0.8

In [16]:
#credit rating
pr1 = con_prob("fair","Credit_Rating","yes")
print(pr1)
pr2 = con_prob("excellent","Credit_Rating","yes")
print(pr2)
pr3 = con_prob("fair","Credit_Rating","no")
print(pr3)
pr4 = con_prob("excellent","Credit_Rating","no")
print(pr4)

0.6666666666666666
0.3333333333333333
0.4
0.6

In [18]:
#Age
pr1 = con_prob("<=30","Age","yes")
print(pr1)
pr2 = con_prob("31...40","Age","yes")
print(pr2)
pr3 = con_prob(">40","Age","yes")
print(pr3)
pr4 = con_prob("<=30","Age","no")
print(pr4)
pr5 = con_prob("31...40","Age","no")
print(pr5)
pr6 = con_prob(">40","Age","no")
print(pr6)

0.2222222222222222
0.0
0.3333333333333333
0.6
0.0
0.4